* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #020b17;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

nav ul li a.active,
nav ul li a:hover {
    color: #2cff00;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

/* LEFT */
.content {
    width: 95%;
}

.content h1 {
    font-size: 60px;
}

.content h1 span {
    color: #2cff00;
}

.content h2 {
    margin: 15px 0;
    font-size: 28px;
}

.content h2 span {
    color: #2cff00;
}

.content p {
    color: #cfd8dc;
    line-height: 1.8;
    margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn {
    background: #2cff00;
    color: black;
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.icons i {
    border: 1px solid #2cff00;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    color: #2cff00;
    cursor: pointer;
}

.icons i:hover {
    background: #2cff00;
    color: black;
}

/* RIGHT IMAGE */
.image-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box .circle{
    width: 350px;
    height: 70vh;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 50px #077b32;
    margin-left: 230px;
}

.image-box .circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-box .circle:hover{
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

/* =========================
   ABOUT SECTION
========================= */
.about-section{
  background:#020b17;
  padding:100px 80px;
  color:white;
}

.about-wrapper{
  max-width:1100px;
  margin:auto;
}

.about-title{
  font-size:40px;
  margin-bottom:25px;
}

.about-title span{
  color:#2cff00;
}

.about-summary{
  max-width:750px;
  line-height:1.8;
  color:#cfd8dc;
  margin-bottom:60px;
}

/* COLUMNS */
.about-columns{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:40px;
  margin-bottom:60px;
}

.about-block{
  background:#03121f;
  padding:30px;
  border-radius:16px;
  border-left:4px solid #2cff00;
}

.about-block h4{
  margin-bottom:15px;
  font-size:18px;
  color:#2cff00;
}

.about-block p{
  line-height:1.7;
  color:#cfd8dc;
}

/* DETAILS */
.about-details{
  display:flex;
  gap:40px;
  flex-wrap:wrap;
}

.about-details div{
  background:#03121f;
  padding:14px 22px;
  border-radius:30px;
  border:1px solid #2cff00;
  font-size:14px;
}

/* CENTER ABOUT TITLE & SUMMARY */
.about-title{
  text-align: center;
}

.about-summary{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* RESPONSIVE */
@media(max-width:768px){
  .about-section{
    padding:70px 30px;
  }

  .about-title{
    font-size:32px;
  }
}

.about-section{
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease;
}

.about-section.show{
  opacity: 1;
  transform: translateY(0);
}


/* =========================
   SKILLS SECTION
==========================*/

.section-title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 60px;
}

.section-title span{
  color: #2cff00;
}


.skills-section{
  background:#020b17;
  padding:100px 80px;
}

.skills-wrapper{
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.skill-card{
  background:#03121f;
  border:1px solid #2cff00;
  padding:25px;
  border-radius:16px;
  transition:.4s ease;
}

.skill-card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 30px rgba(44,255,0,.25);
}

.skill-header{
  display:flex;
  justify-content:space-between;
  font-weight:600;
  margin-bottom:10px;
}

.skill-percent{
  color:#2cff00;
}

.skill-bar{
  height:8px;
  background:#111;
  border-radius:10px;
  overflow:hidden;
  margin-bottom:15px;
}

.skill-progress{
  height:100%;
  width:0;
  background:#2cff00;
  border-radius:10px;
  transition:width 1.5s ease;
}

.skill-desc{
  font-size:14px;
  color:#cfd8dc;
  line-height:1.6;
}

/* ================= 
PROJECT SECTION 
================= */

.projects-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:30px;
  max-width:1100px;
  margin:auto;
}

.project-card{
  background:#03121f;
  border:1px solid #2cff00;
  padding:30px;
  border-radius:16px;
  cursor:pointer;
  transition:0.4s ease;
  text-align:left;
}

.project-card h3{
  color:#2cff00;
  margin-bottom:10px;
}

.project-card p{
  color:#cfd8dc;
  font-size:14px;
}

.project-card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 30px rgba(44,255,0,0.25);
}

/* PROJECT MODAL */
.modal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

.modal-content{
  background:#03121f;
  padding:30px;
  max-width:500px;
  border-radius:20px;
  text-align:center;
  position:relative;
}

.modal-content img{
  width:100%;
  border-radius:15px;
  margin-bottom:15px;
}

.modal-links a{
  display:inline-block;
  margin:10px;
  padding:10px 20px;
  border-radius:25px;
  background:#2cff00;
  color:black;
  text-decoration:none;
}

.close{
  position:absolute;
  top:15px;
  right:20px;
  font-size:25px;
  cursor:pointer;
}


/*====================
CONTACT SECTION
====================*/

.contact-section {
    display: flex;
    gap: 60px;
    padding: 100px;
    background: #020b17;
}

/* LEFT INFO */
.contact-info {
    width: 35%;
    color: white;
}


.contact-info h4 {
    margin-bottom: 30px;
    color: #aaa;
    letter-spacing: 1px;
}

.info-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.info-box i {
    font-size: 22px;
    padding: 15px;
    border-radius: 12px;
    background: #111;
}

.info-box span {
    color: #888;
    font-size: 14px;
}

.info-box p {
    margin-top: 5px;
    line-height: 1.6;
}

.social-title {
    margin-top: 50px;
}

.social-icons i {
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.social-icons a{
  color:white;
}

.social-icons i:hover{
  color:#2cff00;
  transform:scale(1.2);
  transition:0.3s;
}

/* RIGHT FORM */
.contact-form-box {
    width: 65%;
    padding: 50px;
    border-radius: 30px;
    background: linear-gradient(
        145deg,
        rgba(255,255,255,0.08),
        rgba(255,255,255,0.02)
    );
    backdrop-filter: blur(20px);
}

.contact-form-box h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.contact-form-box h2 span {
    color: #2cff00;
}

.contact-form-box input,
.contact-form-box textarea {
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: #111;
    color: white;
}

.contact-form-box textarea {
    height: 120px;
    resize: none;
}

.contact-form-box button {
    width: 100%;
    padding: 16px;
    border-radius: 15px;
    border: none;
    font-weight: bold;
    background: #333;
    color: white;
    cursor: pointer;
}

.contact-form-box button:hover {
    background: #2cff00;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .contact-section {
        flex-direction: column;
        padding: 50px;
    }

    .contact-info,
    .contact-form-box {
        width: 100%;
    }
}

/*=========================
MOBILE RESPONSIVE
=========================*/
@media(max-width:768px){
  .circle{
    width:220px;
    height:220px;
  }

  .circle img{
    width:190px;
    height:190px;
  }

  /* HERO LAYOUT */
  .hero{
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .content{
    width: 100%;
  }

  .image-box{
    justify-content: center;
  }

  .image-box .circle{
    margin-left: 0;
    margin-top: 30px;
    width: 260px;
    height: 260px;
  }

  .image-box .circle img{
    width: 100%;
    height: 100%;
  }
}


.menu-icon{
  display:none;
  font-size:26px;
  cursor:pointer;
}

@media(max-width:768px){
  nav ul{
    display:none;
    flex-direction:column;
    background:#020b17;
    position:absolute;
    top:70px;
    right:20px;
    padding:20px;
    border-radius:10px;
  }

  nav ul.show{
    display:flex;
  }

  .menu-icon{
    display:block;
  }
}

@media(max-width:768px){
  .section-title{
    font-size:28px;
    text-align:center;
  }

  .skill-desc,
  .project-card p{
    font-size:13px;
  }
}


@media (max-width: 768px) {

  /* CONTACT SECTION */
  .contact-section{
    padding: 40px 15px;
  }

  .contact-box{
    width: 100%;
    height: auto;          /* ✅ FIXED */
    padding: 30px 20px;
    border-radius: 20px;
  }

  .contact-box h1{
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .contact-box form{
    width: 100%;
  }

  .contact-box input,
  .contact-box textarea{
    width: 100%;           /* ✅ full width */
    font-size: 14px;
    padding: 12px;
  }

  .contact-box textarea{
    height: 120px;
  }

  .contact-box button{
    width: 100%;
    padding: 14px;
    font-size: 16px;
    margin-top: 15px;
  }
}
