* {
    margin:0;
    padding:0;
}
body {
    background-color: rgb(70, 134, 223);
    text-align: center;
}
.container {
    height: 70vmin; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 16px rgba(0 ,0 , 0 ,0.5);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn {
    padding: 16px;
    font-size: 20px;
    background-color: #191919;
    color: #fff;
    border-radius: 16px;
    border: none;
}

#new-btn {
    padding: 16px;
    font-size: 20px;
    background-color: #191919;
    color: #fff;
    border-radius: 16px;
    border: none;
}
#msg {
    color: #ffffc7;
    font-size: 5vmin;
}
.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.hide {
    display: none;
}